body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-app {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.content {
  display: flex;
  height: 100vh;
  background-color: rgb(211, 206, 189);
}

.content h1 {
  margin: 10px 5px 30px 25px;
  color: rgba(0, 0, 0, 0.5)
}